body {
  font-family: Arial, Helvetica, sans-serif; 
  line-height: 1.6;                        
  margin: 0;                               
  padding: 0;                               
  background-color: rgb(37, 4, 128);                
  color: rgb(168, 168, 13);                              
}

#img-logo{

width:200px;
height:200px;

}

#navbar {
  position: fixed;      
  top: 0;               
  left: 0;              
  width: 250px;         
  height: 100%;         
  background-color: #f4f4f4; 
  padding: 20px;
  overflow-y: auto;     
  border-right: 10px solid #ccc; 
}


#navbar header {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 20px;
}


#navbar a {
  display: block;
  margin: 10px 0;
  text-decoration: none;
  color: #333;
}

#navbar a:hover {
  color: rgb(168, 168, 13); 
}


#main-doc {
  margin-left: 270px; 
  padding: 20px;
}


@media (max-width: 600px) {
  #navbar {
    position: relative; 
    width: 100%;        
    height: auto;
    border-right: none;
    border-bottom: 2px solid #ccc;
  }
  #main-doc {
    margin-left: 0;    
  }
}



